.header{
	height: 100px;
}
.container{
	margin: auto;
	width: 60%;
	border: solid 2px black;
	overflow: auto;
	padding: 20px;

}

.gallows{

	margin: auto;
	width: 60%;
	height: 50%;
	border: black solid 1px;
}

.word{
	float: left;
	margin: auto;
	width: 75%;
	height: 100px;
	border: black solid 1px;
	overflow: auto;
}

.word p{
	text-align: center;
	margin: auto;
	margin: 0px;
	font-size: 5ex;
	letter-spacing: 5px;
}
.letter{
	width: 20%;
	height: 100px;
	float: left;
	border: black solid 1px;
	margin: auto;
}

.letter input{
	width: 50%;
	height: 100%;
	font-size: 5ex;
	text-align: center;
}

.letter button {
	/*float:left; */
	width: 40%;
	height:50%; 
	/*margin: auto;*/
	overflow: hidden;
}

hr{
	margin-top: 20px;
	margin-bottom: 20px;
}